.bg-img{
  background-image: url('../../../assets/img/team/team-2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 50vh;
}

.build-us{
background-color: black;
color: white;

}

.btn1 {
  border: 2px solid #ffffff;
  outline: none;
  color: #fff;
  padding: 4px 16px;
  font-size: 20px !important;
  background-color: #000000;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
}

.btn1:hover {
  background-color: #f3ebeb;
  color: #000000;
  border:  2px solid #000000;
}

