<div class="body text-center mt-5 mx-auto">
  <h2 class="text-muted">About us</h2>
  <h1>Who we are?</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil amet aliquam laborum totam sint cumque, error recusandae. Consequatur, maxime quod.</p>
  <div class="about-img">
    <div class="bg-img">

    </div>
    <div class="build-us d-flex align-items-center justify-content-center">
      <h3>Ready To Work/Bulid with us</h3>
      <button class="btn1 mb-1 ms-1" >Build with us</button>
    </div>
  </div>
</div>
