<div class="body mx-auto text-white">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h1>Logo Goes Here</h1>
      </div>
      <div class="col-md-4">
        <ul>
          <li><b>Item 1</b></li>
          <li><b>Item 2</b></li>
          <li><b>Item 3</b></li>
          <li><b>Item 4</b></li>
        </ul>

      </div>
      <div class="col-md-4">
        <h1>adress</h1>
        <h4>Lorem ipsum dolor sit amet consectetur.</h4>
      </div>
    </div>
  </div>
</div>

<div class="body2 text-center w-75 mx-auto">
  <h3>Copyright &copy; 2023 | All right received.</h3>
</div>
