
<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container-fluid">
   <a class="navbar-brand" href="#"><img src="../../../assets/img/bigitX.png" alt="logo" class="nav-logo"></a>


   <button
   class="navbar-toggler ms-auto"
   type="button"
   (click)="basicNavbar.toggle()"
   aria-expanded="false"
   aria-label="Toggle navigation"
 >
   <i class="navbar-toggler-icon"></i>
 </button>

    <div
      class="collapse navbar-collapse"
      id="navbarSupportedContent"
      mdbCollapse
      #basicNavbar="mdbCollapse"
    >

      <ul class="navbar-nav mx-auto mb-lg-0">
        <li class="nav-item"><a class="nav-link component naev-heading" href="#hero">Home</a></li>
        <li class="nav-item"><a class="nav-link component naev-heading" href="#about">About</a></li>
        <li class="nav-item"><a class="nav-link component naev-heading" href="#services">Services</a></li>
        <li class="nav-item"><a class="nav-link component naev-heading" href="#testimonials">Work</a></li>
        <li class="nav-item">
          <a class="nav-link component naev-heading" href="#portfolio">Portfolio</a>
        </li>
        <li class="nav-item"><a class="nav-link component naev-heading" href="#team">News</a></li>



      </ul>

      <div class="ms-auto d-inline-break">
      <i class="bi bi-search fs-4 me-2"></i>
     <button class="btn btn-outline-dark">Get in touch</button>
    </div>


    </div>
  </div>


</nav>


