<div class="body text-center mx-auto mt-5">
  <div class="">
      <h2>Lorem, ipsum dolor.</h2>
  <h1>Our Recent projects</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi veniam iste labore ipsa at temporibus accusantium suscipit!</p>

  </div>

  <div class="project-carousel">
    <!-- 768*510 -->
    <owl-carousel-o [options]="customOptions" class="project-carousel ">
      <ng-template carouselSlide><img src="../../../assets/img/work/work-1.jpg" class="client-img img-fluid" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../../assets/img/work/work-2.jpg" class="client-img img-fluid" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../../assets/img/work/work-3.jpg" class="client-img" alt=""></ng-template>
      <ng-template carouselSlide><img src="../../../assets/img/work/work-4.jpg"  class="client-img img-fluid"alt=""></ng-template>
      <ng-template carouselSlide><img src="../../../assets/img/work/work-5.jpg" class="client-img img-fluid" alt=""></ng-template>
      <!-- <ng-template carouselSlide><img src="../../../assets/img/work/client-6.png" class="client-img" alt=""></ng-template> -->

    </owl-carousel-o>
  </div>
</div>
