<div class="body text-center mx-auto mt-5">
  <h2>Testimonials</h2>
  <h1>Our satisfied Clients</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet.</p>

  <div class="testimonial-carousel">


<h1 class="text-center" id="testimonials" >Testimonials</h1>



<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        “We’ve looked at a lot of SEO solutions but these guys were
        always the clear favorite. They have the right strategy and
        they’ve been awesome to work with.”
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <!-- <img
      src="assets/img/testimonials/testimonials-2.jpg"
      class="testimonial-img"
      alt=""
    /> -->
      <h3>Irene Warner</h3>
      <h4>Ceo &amp; Founder1</h4>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        “We’ve looked at a lot of SEO solutions but these guys were
        always the clear favorite. They have the right strategy and
        they’ve been awesome to work with.”
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <!-- <img
      src="assets/img/testimonials/testimonials-2.jpg"
      class="testimonial-img"
      alt=""
    /> -->
      <h3>Irene Warner</h3>
      <h4>Ceo &amp; Founder2</h4>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        “We’ve looked at a lot of SEO solutions but these guys were
        always the clear favorite. They have the right strategy and
        they’ve been awesome to work with.”
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <!-- <img
      src="assets/img/testimonials/testimonials-2.jpg"
      class="testimonial-img"
      alt=""
    /> -->
      <h3>Irene Warner</h3>
      <h4>Ceo &amp; Founder3</h4>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        “We’ve looked at a lot of SEO solutions but these guys were
        always the clear favorite. They have the right strategy and
        they’ve been awesome to work with.”
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <!-- <img
      src="assets/img/testimonials/testimonials-2.jpg"
      class="testimonial-img"
      alt=""
    /> -->
      <h3>Irene Warner</h3>
      <h4>Ceo &amp; Founder4</h4>
    </div>
  </ng-template>

  <ng-template carouselSlide>
    <div class="testimonial-item">
      <p>
        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
        “We’ve looked at a lot of SEO solutions but these guys were
        always the clear favorite. They have the right strategy and
        they’ve been awesome to work with.”
        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
      </p>
      <!-- <img
      src="assets/img/testimonials/testimonials-2.jpg"
      class="testimonial-img"
      alt=""
    /> -->
      <h3>Irene Warner</h3>
      <h4>Ceo &amp; Founder5</h4>
    </div>
  </ng-template>


</owl-carousel-o>


  </div>
</div>
