<div class="body mt-5">
  <div class="text-center">
      <h3 class="text-muted">Our magic</h3>
  <h3>Quality Work</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis temporibus at dolores doloribus recusandae fugit amet reiciendis!</p>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">


          <owl-carousel-o [options]="customOptions" class="h-auto w-auto">
            <ng-template carouselSlide><img src="../../../assets/img/work/work-1.jpg" class="img-fluid" alt=""></ng-template>
            <ng-template carouselSlide><img src="../../../assets/img/work/work-2.jpg" class="img-fluid" alt=""></ng-template>
            <ng-template carouselSlide><img src="../../../assets/img/work/work-3.jpg" class="img-fluid" alt=""></ng-template>
            <ng-template carouselSlide><img src="../../../assets/img/work/work-4.jpg"  class="img-fluid"alt=""></ng-template>
            <ng-template carouselSlide><img src="../../../assets/img/work/work-5.jpg" class="img-fluid" alt=""></ng-template>
            <!-- <ng-template carouselSlide><img src="../../../assets/img/work/client-6.png" class="img-fluid" alt=""></ng-template> -->

          </owl-carousel-o>


      </div>
      <div class="col-md-6 my-auto">
        <div class="">
          <h1>Step 1</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

          <h1>Step 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>


          <h1>Step 3</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </div>
      </div>
    </div>
  </div>
</div>
