<div class="body mt-5">
  <div class="text-center">
      <h3 class="text-muted">Our magic</h3>
  <h3>Quality Work</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis temporibus at dolores doloribus recusandae fugit amet reiciendis!</p>

  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="qwork-car">

        </div>
      </div>
      <div class="col-md-6 my-auto">
        <div class="">
          <h1>Step 1</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

          <h1>Step 2</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>


          <h1>Step 3</h1>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>

        </div>
      </div>
    </div>
  </div>
</div>
